[submodule "probr-core"]
	path = probr-core
	url = https://github.com/probr/probr-core.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/probr/probr-pack-kubernetes.git
[submodule "aks"]
	path = aks
	url = https://github.com/probr/probr-pack-aks.git
